<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Bahmni</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>

	<require_modules>
		<require_module>org.openmrs.module.webservices.rest</require_module>
		<require_module>org.ict4h.openmrs.openmrs-atomfeed</require_module>
		<require_module>org.openmrs.module.addresshierarchy</require_module>
		<require_module>org.openmrs.module.idgen</require_module>
		<require_module>org.openmrs.module.emrapi</require_module>
	</require_modules>

	<!-- / Module Properties -->


	<!-- Module Activator -->
	<activator>org.bahmni.module.bahmniOfflineSync.BahmniOfflineSyncActivator</activator>
	<advice>
		<point>org.openmrs.api.ConceptService</point>
		<class>org.bahmni.module.bahmniOfflineSync.advice.ConceptServiceInterceptor</class>
	</advice>
	<advice>
		<point>org.openmrs.api.EncounterService</point>
		<class>org.bahmni.module.bahmniOfflineSync.advice.EncounterServiceInterceptor</class>
	</advice>
	<advice>
		<point>org.openmrs.api.PatientService</point>
		<class>org.bahmni.module.bahmniOfflineSync.advice.PatientServiceInterceptor</class>
	</advice>
	<advice>
		<point>org.openmrs.api.PatientService</point>
		<class>org.bahmni.module.bahmniOfflineSync.advice.PatientSaveAdvice</class>
	</advice>


	<!-- Maps hibernate file's, if present -->
	<mappingFiles>

	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

	<globalProperty>
		<property>bahmni.visitMatcher</property>
		<defaultValue>org.bahmni.module.bahmniOfflineSync.OfflineVisitMatcher</defaultValue>
		<description>visit matcher for offline</description>
	</globalProperty>

	<globalProperty>
		<property>bahmniconnect.initsync.directory</property>
		<defaultValue>/home/bahmni/init_sync</defaultValue>
		<description>Initial sync artifacts directory for connect app</description>
	</globalProperty>

</module>

